# Intro to Jupyter Notebooks and SQLite database

## You are new to Jupyter Notebooks?

In short, Jupyter provides a user-interface to run snippets of Python code, use interactive output, and allowas for Markdown documentation in between the cells.

You can run a cell in a Jupyter Notebook, by clicking Shift+Enter

In [4]:
print('Hello world')

Hello world

## You are new to SQL databases and how to query data?
Requests to a SQL database (=query) are scripted using SQL language. 

To run the SQL query, at first you need to connect to the database. This is a simplified method, which I usually use to connect to database: 

By default it will return a pandas DataFrame ([pandas documentation](https://pandas.pydata.org/docs/user_guide/index.html)), which can simply be viewed with Jupyters display function

In [2]:
import evaluation.utils.db as db
elements = db.query_sql('''
                        SELECT * 
                        FROM elements
                        ORDER BY atomic_number
                        '''
                        )
display(elements)

   element  atomic_number  M__g_mol
0        H              1    1.0080
1       He              2    4.0026
2       Li              3    6.9400
3       Be              4    9.0122
4        B              5   10.8100
..     ...            ...       ...
87      Ra             88  226.0000
88      Ac             89  227.0000
89      Th             90  232.0400
90      Pa             91  231.0400
91       U             92  238.0300

[92 rows x 3 columns]

# You rather prefer .csv files?
You can easily export any pandas DataFrame easily to csv:

In [ ]:
# run previous cell to define elements
elements.to_csv('elements.csv')